{{> top}}

	<table>
		{{#each results as |result|}}
    			<tr>
                    <td>
                        <img src="{{current_observation.icon_url}}" alt="" />
                    </td>
    				<td>
                        {{current_observation.display_location.full}}
                    </td>
                    <td>
                        {{current_observation.weather}}
                    </td>
                    <td>
                        {{current_observation.temperature_string}}
                    </td>
                    <td>
                        {{current_observation.observation_time}}
                    </td>
                    <td>
                        <a href="/api/v1/conditions/{{current_observation.display_location.state}}/{{current_observation.display_location.city}}">
                            View full details
                        </a>
                    </td>
    			</tr>
		{{/each}}
	</table>

{{> bottom}}
